

div.contenedor{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

header,nav,article,aside{
	border-radius: 10px;
	padding: 15px;
	border: solid 1px #739d00;
	margin-top: 10px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}


header{
	height: 160px;
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	overflow: hidden;


}

header h1{
	font-size: 35px;
	display: inline-block;
	margin-left: 30%;
	color: #53fd0f;
	font-weight: bold;
	position: relative;
	padding: 6px 12px;
	/* reflexión ligera (WebKit) */
	-webkit-box-reflect: below 4px linear-gradient(transparent, rgba(83,253,15,0.08) 40%, rgba(255,255,255,0.9) 100%);
	filter: drop-shadow(-1px -1px 0 #9aa9ff) drop-shadow(1px -1px 0 #9aa9ff) drop-shadow(-1px 1px 0 #9aa9ff) drop-shadow(1px 1px 0 #9aa9ff);
}
header h2{
	font-size: 20px;
	float: center;
	margin-left: 28%;
	margin-top: 3%;
	color: #53fd0f;;
	filter: drop-shadow(-1px -1px 0 #FFFFFF) drop-shadow(1px -1px 0 #FFFFFF) drop-shadow(-1px 1px 0 #FFFFFF) drop-shadow(1px 1px 0 #FFFFFF) drop-shadow(2px 2px 4px #808080);
	font-weight: bold;
}

header img{
	float: right;
	height: 100%;
	margin-right: 5%;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
	-webkit-transition-property: all;
	transition-property: all;
}

nav{
	width: 100%;
	margin: 10px auto;   
	clear: both;         
	background-color: #D7F207;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center; 
}

nav li{
	display: inline-block;
	margin: 0 8px; 
	vertical-align: middle;
}

nav a{
	display: inline-block;
	padding: 6px 8px;

}


header, article,aside{ 
	margin-bottom: 10px;
}

aside {
    background: #eaffd4;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    text-align: left;
}

aside h1 {
    text-align: center;
}

aside input {
    width: 100%;
    margin-bottom: 10px;
}

aside button {
    width: 100%;
    margin-top: 10px;
}

.columna {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, auto);
gap: 45px;
justify-items: center;
width: 70%;
margin-left: 300px;
margin-top: -50px;
    background:white;
    border:3px solid #9adf2a;
    border-radius:20px;
    padding:15px;
    text-align:center;
}

.card {
	background: white;
	border: 2px solid #b7ff80;
	border-radius: 12px;
	padding: 15px;
	
}

.card h3 {
	color: #4bb54a;
}

.card img {
	width: 100%;
	display: block;
}

.notas {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nota {
    background: #e5ff6f;
    padding: 20px;
    width: 170px;
    border-radius: 10px;
    transform: rotate(-8deg);
}

footer {
    margin-top: 40px;
    font-size: 14px;
}
